* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h2 {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 40px;
}

.main-header__nav {
    display: flex;
}

.logo {
    width: 64px;
    margin-right: 470px;
}

.site-navigation {
    width: 565px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sigin {
    width: 36px;
    margin-left: auto;
}

.main-content {
    padding-top: 0;
}

.hero {
    margin-bottom: 120px;
}

.hero__title {
    margin: 0;
    padding-left: 70px;
    padding-bottom: 40px;
}

.blog-article {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.order {
    flex-direction: row-reverse;
}

.blog-article__date {
    padding-bottom: 10px;
}

.blog-article__title {
    /* width: 356px; */
    margin-bottom: 19px;
}

.blog-article_blue-line {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 2px solid #00C6BD;
}

.blog-article__info_right {
    text-align: end;
}

.blog-article__title_right {
    margin-left: auto;
}

.blog-article__content {
    width: 400px;
}

.margin-bottom-120 {
    margin-bottom: 120px;
}

.blog-article-img {
    width: 600px;
}

.news {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.news__block-title {
    text-align: center;
    margin-bottom: 40px;
}

.news__main-img {
    width: 100%;
    padding-bottom: 17px;
}

.news__content-items li {
    padding-bottom: 8px;
}

.news__content-items {
    padding-bottom: 30px;
}

.news__content-items + p {
    padding-bottom: 38px;
}

.news__about {
    padding-bottom: 33px;
}

.news__header {
    padding-bottom: 27px;
}

.news__content-paragraf {
    padding-bottom: 24px;
}

.news__content-title {
    margin-bottom: 15px;
}

.news__content-slogan {
    padding-bottom: 30px;
}

.news__content-slogan + p {
    padding-bottom: 40px;
}

.news__header + .news__content-paragraf {
    padding-bottom: 12px;
}

/* Блок адреса и карта */

.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.contacts__wrappeer {
    width: 245px;
}

.contacts__padding {
    padding-bottom: 20px;
}

.contacts__header {
}

.contacts__data li {
    padding-bottom: 15px;
}

.contacts__data-item {}

.contacts__data-header {}

.phone {}

.E-mail {}

.contacts__img {
    width: 684px;
}