* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h2 {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 40px;
}

.main-header__nav {
    display: flex;
}

.logo {
    width: 64px;
    margin-right: 470px;
}

.site-navigation {
    width: 565px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sigin {
    width: 36px;
    margin-left: auto;
}

.main-content {
    padding-top: 0;
}

.hero {
    margin-bottom: 120px;
}

.hero__title {
    margin: 0;
    padding-left: 70px;
    padding-bottom: 40px;
}

.blog-article {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.order {
    flex-direction: row-reverse;
}

.blog-article__date {
    padding-bottom: 10px;
}

.blog-article__title {
    /* width: 356px; */
    margin-bottom: 19px;
}

.blog-article_blue-line {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 2px solid #00C6BD;
}

.blog-article__info_right {
    text-align: end;
}

.blog-article__title_right {
    margin-left: auto;
}

.blog-article__content {
    width: 400px;
}

.margin-bottom-120 {
    margin-bottom: 120px;
}

.blog-article-img {
    width: 600px;
}

.news {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.news__block-title {
    text-align: center;
    margin-bottom: 40px;
}

.news__main-img {
    width: 100%;
    padding-bottom: 17px;
}

.news-content-items li {
    padding-bottom: 8px;
}

.padding_bottom-33 {
    padding-bottom: 33px;
}

.padding_bottom-27 {
    padding-bottom: 27px;
}

.padding_bottom-24 {
    padding-bottom: 24px;
}

.padding_bottom-19 {
    margin-bottom: 19px;
}

.padding_bottom-15 {
    margin-bottom: 15px;
}

.padding_bottom-8 {
    margin-bottom: 8px;
}

.padding_bottom-12 {
    padding-bottom: 12px;

}
