.card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &__img {

        border-radius: 20px;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);

        // для того чтобы любая картинка подходила без обработки
        object-fit: cover;
        aspect-ratio: 37 / 18;
    }
    &__body {
        padding: 20px 24px;

        border-radius: 20px;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        // чтобы кнопка опустилась вниз необходимо назначить ей параметр margin-top: auto; но работать он будет только если будет flex элементом, даем flex. а кнопку надо обернуть в div и уже диву дать свойство auto
        display: flex;
        flex-direction: column;
        // необходимо чтобы блок тянулся на длинну самой большой карточки
        flex-grow: 1;
    }
    &__title {
        margin-bottom: 5px;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.2;
        color: #000;
    }
    &__price {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 1.2;
        color: #00ae6c;
    }
    &__list {
        padding-left: 22px;
        margin-bottom: 25px;

        display: flex;
        flex-direction: column;
        row-gap: 14px;

        font-size: 14px;
        line-height: 1.2;
        color: #000;
    }
    &__list-item {
        list-style-type: disc;
    }
    &__btn-wrapper {
        // нужно чтобы кнопка тянулась вниз если у карточки будет больше текста чем у остальных и кнопки были на одном уровне
        margin-top: auto;
    }
}
