.locations {
    @include scrollToTop();

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
        margin-bottom: 40px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__title {
        width: 430px;

        @include mobile {
            width: 330px;
        }
    }

    &__controls {
        display: flex;
        column-gap: 20px;

        @include tablet {
            column-gap: 10px;
            // width: 42px;
            // height: 42px;
        }

        @include mobile {
            display: none;
        }

        &--mobile {
            display: none;
            margin-top: 20px;

            @include mobile {
                display: block;
            }
        }

        // сбрасываем синюю обводку, но на tab она реагирует
        &:focus {
            outline: none;
        }
        // отключаем синюю обводку у кнопок карусели
        & .prev:focus {
            outline: none;
        }
        & .next:focus {
            outline: none;
        }
    }
    // класс для кнопок ненужен, так как reset все сбрасывает и кнопки отображаются как есть картинкой

    &__controls-img {
        @include tablet {
            width: 42px;
            height: 42px;
        }
    }
}
