.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // display: flex;
    display: none;
    flex-direction: column;

    background-color: #fff;

    // навигация по умолчанию не видна, при получении класса open она появляется
    &--open {
        display: flex;
    }
}
.mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 15px;
}
// .mobile-nav__logo {
// }
// .mobile-nav__btn {
// }
.mobile-nav__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    background-color: #F6F6F6;
}
