.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.8);

    // скрываем модальное окно
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;

    &--open {
        opacity: 1;
        pointer-events: all;
    }

    &__body {
        position: relative;

        padding: 40px;
        width: 420px;

        border-radius: 20px;
        background: #fff;
        color: #2f2f2f;

        // изменяем положение модального окна чтобы при появлении оно сдвигалось
        transform: translate(0, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include mobile {
            padding: 20px;
            width: 360px;
        }
    }

    &__close {
        position: absolute;
        top: 14px;
        right: 14px;

        @include mobile {
            top: 10px;
            right: 10px;
        }
    }

    // &__header {
    // }

    &__header p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    &__title {
        font-weight: 800;
        font-size: 36px;
        line-height: 1.2;
        color: #000;

        @include mobile {
            font-size: 28px;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__checkbox-lable {
        font-size: 12px;
        line-height: 1;

        display: flex;
        align-items: center;
        gap: 10px;
    }
}

// восстанавливаем положение при открытии, и получаем эффект движения, строка 34 начало
.modal--open .modal__body {
    transform: translate(0, 0%);
    transition: all 0.2s ease-in;
}