.price {
    background-color: #F6F6F6;
    padding-top: 60px;
    padding-bottom: 120px;
    &__title {
        margin-bottom: 40px;
    }
    &__cards {
        display: flex;
        // по умолчанию ровняются по верхней линии
        // align-items: flex-start;
        // способны растягиваться если будут в карточке больше текста
        align-items: stretch;
        // для того чтобы карточка растянулась необходимо card__body прописать настройку тянуться flex-grow: 1;
        
        column-gap: 30px;
    }
}

.card {
    flex: 1;
}
