.promo {
    &__wrapper {
        padding: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 600px;
        background-color: #000;
        border-radius: 40px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
            url("./../img/promo/promo-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        text-align: center;
        color: #fff;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
                url("./../img/promo/promo-bg@2x.jpg");
        }
    }

    &__content {
        max-width: 678px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    &__title {
        font-weight: 800;
        font-size: 72px;
        line-height: 1;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 1;

        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
    }
    
    &__btns {
        display: flex;
        column-gap: 20px;
    }
}
