.services {
    &__title {
        max-width: 570px;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 30px;
        row-gap: 40px;
    }
    &__list--item {
        width: 270px;
    }
}
