.slider {
    display: flex;
    column-gap: 10px;
    overflow: hidden;

    &__img {
        border-radius: 8px;

        @include mobile {
            height: 250px;
        }
    }
}

// ставил 1 слайдеру отступ 15 пикс. а все остальные идут без левого отступа
#tns1-item0 {
    padding-left: 15px;
}
