@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,700,800);

/* Общие стили */
body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */
.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Навигация */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap нужен для отствпа если вдруг количество меню увеличится чтобы оно не прилипло к лого */
    gap: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-list a {
    color: #000;
    transition: all 0.2s ease-in;
}

.nav-list a.active {
    color: #81B4BD;
}

.nav-list a:hover {
    color: #00CEB5;
}

/* блок hero */
.hero {
    display: flex;
    align-items: center;
    padding-left: 70px;

    height: 500px;
    background-image: url(./../img/hero/promo-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: #394D42;
    border-radius: 40px;
    margin-bottom: 90px;
    color: #fff;
}

.hero-title {
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: 24px;
}

/* Статьи */
.article {
    display: flex;
    align-items: center;
    gap: 50px;
}

.article-img img {
    border-radius: 40px;
}

.article-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    padding-bottom: 20px;
}

.article-title span {
    color: #81B4BD;
}

.article-text {
    font-size: 18px;
    line-height: 1.8;
}