@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,700,800);

body {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo {}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.nav-list a {
    font-size: 16px;
    color: #000;
    transition: all 0.2s ease-in;
}

.nav-list a.active {
    color: #81B4BD;
}

.nav-list a:hover {
    color: #00CEB5;
}