@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,700,800);

/* Общие стили */
body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */
.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Навигация */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap нужен для отствпа если вдруг количество меню увеличится чтобы оно не прилипло к лого */
    gap: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-list a {
    color: #000;
    transition: all 0.2s ease-in;
}

.nav-list a.active {
    color: #81B4BD;
}

.nav-list a:hover {
    color: #00CEB5;
}