@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }

  .container {
    width: 320px;
  }

  .nav-list {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
  }

  .main-content {
    row-gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .promo {
    padding-top: 40px;
    padding-left: 0;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }

  .promo-title {
    font-size: 34px;
  }

  .promo-subtitle {
    font-size: 14px;
  }

  .content-row {
    flex-direction: column;
    row-gap: 20px;
  }

  .content-img {
    flex-basis: 120px;
  }

  .content-column-mobile {
    flex-direction: column !important;
  }

  /* tours */
  .inner-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card {
    width: 290px;
  }

  .card-desc a {
    font-size: 14px;
  }

  .card-desc p {
    font-size: 14px;
  }

  .cards-wrapper {
    row-gap: 20px;
  }

  .title-1 {
    font-size: 28px;
  }
}