@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 2;
}

.active {
    font-weight: 500;
    font-size: 14px;
    color: #606060;
    ;
}

/* Заголовок */
.header {
    background-color: #F1F1F1;
    padding-top: 46px;
    margin-bottom: 90px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-list a {
    color: #000;
    line-height: normal;
}

.profile a+a {
    margin-left: 15px;
}

/* главный блок */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 176px;
    padding-top: 73px;
}

.hero-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
    line-height: normal;
}

/* блок возможности */
.ability {
    margin-bottom: 90px;
}

.ability-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.ability-title {
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.ability-subtitle {
    padding-top: 10px;
}

/* блок Обо мне */
.about {
    margin-bottom: 90px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    gap: 170px;
    padding: 50px 60px;
    box-shadow: 0 15px 25px 0 rgba(192, 192, 192, 0.75);
    background: linear-gradient(151deg, #b7bdc2 0.1%, #70889f 100%);
    color: #FFFFFF;
}

.about-title {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.about-subtitle p+p {
    padding-top: 20px;
}