body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #163152;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

/*  width="" height="" */

/* Меню */
.header-nav-item a {
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #163152;
}

/* блок hero */
.hero {
    margin-top: 40px;
    margin-bottom: 120px;
}

.hero-title {
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 138%;
    text-transform: uppercase;
    /* padding-left: 70px; */
    padding-bottom: 36px;
}

/* блок новости */
.news {
    width: 1030px;
}

.date-news {
    /* padding-bottom: 10px; */
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
}

.header-news {
    padding-top: 8px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
}

.header-contacts {
    /* padding-bottom: 10px; */
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    font-weight: 700;
    font-size: 24px;
    line-height: 136%;
}

.text-news {
    margin-top: 20px;
    /* padding-top: 35px;
    padding-bottom: 15px; */
    font-size: 16px;
    line-height: 148%; 
}

/* контакты */
.contacts {
    margin-top: 120px;
    margin-bottom: 120px;
}

/* .contacts-item p {
    padding-bottom: 15px;
    padding-top: 15px;
}

.social-list {
    padding-top: 15px;
} */