// шрифт настроен с плагином Google Fonts
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);

html {
    scroll-behavior: smooth;
}

.none {
    display: none !important;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #000;

    padding-bottom: 500px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    &--large {
        max-width: 1510px;
        // переопределяем ширину основоного контейнера чтобы он тянулся уже на новую ширину 1510px
        width: 100%;
    }
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
}

.title-section {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
    color: #000;
}

.subtitle-section {
    font-weight: 800;
    font-size: 20px;
    line-height: 1;
    color: #000;
}
