.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @include tablet {
        width: 788px;
    }
    @include mobile {
        width: 360px;
    }

    &--large {
        max-width: 1510px;
        // переопределяем ширину основоного контейнера чтобы он тянулся уже на новую ширину 1510px
        width: 100%;

        @include tablet {
            width: auto;
        }
    }
    &--tablet-fluid {
        @include tablet {
            // только для мобильного экрана блок тянется на всю ширину экрана
            width: auto;
        }
    }
    // &--mobile-fluid {
    //     @include mobile {
    //         // только для мобильного экрана блок тянется на всю ширину экрана
    //         width: auto;
    //     }
    // }

    &--mobile-no-padding {
        padding: 0;
        // padding-right: 0;
    }
}

