//миксин макета сайта для планшета
// предусматриваем 20px для скрола который может появится на маленьком экране.
// у названия миксина убираем скобки так как в текущем коде мы не испьзуем параметры
@mixin tablet {
    @media (max-width: 1220px) {
        @content;
    }
}

//миксин макета сайта для телефонв
@mixin mobile {
    @media (max-width: 788px) {
        @content;
    }
}

@mixin mediaBG() {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @content;
    }
}

// миксин для прокрутки через кнопку, чтобы заголовок не прилипал к верхней части экрана
@mixin scrollToTop() {
    scroll-margin-top: 60px;

    @include tablet {
        scroll-margin-top: 40px;
    }

    @include mobile {
        scroll-margin-top: 30px;
    }
}
