@import "./reset.css";
/* обновленный код css */
body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
    padding-left: 60px;
    line-height: normal;
}

.card {
    width: 420px;
    padding: 20px 40px 50px;

    border: 1px solid #dbb9b9;
    text-align: center;
}

.card-img {
    margin-bottom: 30px;
}

.card-title {
    font-size: 32px;
    font-weight: 700;
    color: #cd2626;
    margin-bottom: 30px;
}

.card-text {
    font-size: 14px;
    line-height: 1.5;

    padding: 0 5px;
    margin-bottom: 30px;
}

.card-text .card-link {
    text-decoration: underline;
    color: #bd3030;
}

.card-price {
    margin-bottom: 30px;
    font-size: 26px;
}

.card-price span {
    font-weight: 700;
}

.card-button {
    background-color: #cd2626;
    border-radius: 8px;
    padding: 16px 42px 17px;

    font-weight: 700;
    font-size: 22px;
    color: #fff;

    transition: 
    background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.card-button:hover,
.card-button:focus {
    background-color: #E41919;
}

.card-button:active {
    position: relative;
    top: 1px;

    color: #f1c9c9;
    background-color: #8e1010;
}