/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.none {
  display: none !important;
}

a {
  color: #00AE6C;
  text-decoration: underline;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000;
  padding-bottom: 500px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--large {
  max-width: 1510px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}

.title-section {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  color: #000;
}

.header {
  padding: 40px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__logo {
  flex-shrink: 0;
}

.nav {
  font-size: 14px;
}
.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.nav__link {
  color: #000;
  transition: color 0.2s ease-in;
}
.nav__link:hover {
  color: #00AE6C;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.2s ease-in;
}
.btn:hover {
  background-color: #333;
}

.btn--dark,
a.btn--dark {
  background-color: #000;
}

.btn--green,
a.btn--green {
  background-color: #00ae6c;
}
.btn--green:hover,
a.btn--green:hover {
  background-color: #09e691;
}

.btn--outline,
a.btn--outline {
  border: 1px solid #fff;
  padding: 9px 20px;
  transition: all 0.2s ease-in;
}
.btn--outline:hover,
a.btn--outline:hover {
  background-color: #fff;
  color: #000;
}

.btn-price,
a.btn-price {
  border: 1px solid #000;
  padding: 9px 20px;
  transition: all 0.2s ease-in;
  color: #000;
}
.btn-price:hover,
a.btn-price:hover {
  background-color: #000;
  color: #fff;
}

.btn-tg,
a.btn-tg {
  display: inline-flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #039be5;
}
.btn-tg:hover,
a.btn-tg:hover {
  background-color: #38bdff;
}

.btn-wa,
a.btn-wa {
  display: inline-flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #00ae6c;
}
.btn-wa:hover,
a.btn-wa:hover {
  background-color: #09e691;
}

.promo__wrapper {
  padding: 30px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/promo/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .promo__wrapper {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/promo/promo-bg@2x.jpg");
  }
}
.promo__content {
  max-width: 678px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.promo__title {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
}
.promo__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.promo__btns {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.benefits__row {
  display: flex;
  gap: 30px;
}
.benefits__img {
  text-align: center;
  flex: 1;
}
.benefits__desc {
  flex: 1;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
}
.benefits__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.5;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.benefit {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: flex-start;
}
.benefit__img {
  flex-shrink: 0;
}
.benefit__desc {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #2f2f2f;
}
.benefit__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1;
  color: #000;
}

.locations__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 40px;
}
.locations__title {
  width: 430px;
}
.locations__controls {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.slider {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  overflow: hidden;
}
.slider img {
  border-radius: 8px;
}

.services__title {
  max-width: 570px;
  margin-bottom: 40px;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}
.services__list--item {
  width: 270px;
}

.service {
  font-size: 14px;
  line-height: 1.5;
  color: #2F2F2F;
}
.service__icon {
  margin-bottom: 20px;
}
.service__title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  color: #000;
}

.price {
  background-color: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 120px;
}
.price__title {
  margin-bottom: 40px;
}
.price__cards {
  display: flex;
  align-items: stretch;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.card {
  flex: 1;
}

.card {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.card__img {
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 37/18;
}
.card__body {
  padding: 20px 24px;
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__title {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}
.card__price {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.2;
  color: #00ae6c;
}
.card__list {
  padding-left: 22px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}
.card__list-item {
  list-style-type: disc;
}
.card__btn-wrapper {
  margin-top: auto;
}

.cta__wrapper {
  padding: 30px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/cta/cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .cta__wrapper {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("./../img/cta/cta-bg@2x.jpg");
  }
}
.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}
.cta__title {
  font-weight: 800;
  font-size: 42px;
  line-height: 1;
  color: #fff;
}
.cta__text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: #fff;
}
.cta__btns {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.map__title {
  margin-bottom: 20px;
}
.map__text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.map__img {
  border-radius: 40px;
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.faq__title {
  width: 470px;
  flex-shrink: 0;
}
.faq__topics {
  width: 670px;
  flex-shrink: 0;
}

.topic {
  padding: 30px 0;
  border-top: 1px solid #ececf1;
  border-bottom: 1px solid #ececf1;
}
.topic__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #000;
}
.topic__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.topic__content {
  padding-top: 30px;
  line-height: 1.5;
  display: none;
  flex-direction: column;
  row-gap: 1em;
}
.topic__content--open {
  display: flex;
}

.topic + .topic {
  margin-top: -1px;
}/*# sourceMappingURL=main.css.map */