/* для разрешения с шириной до 1140px */
@media (max-width: 1140px) {
    .portfolio-card {
        /* выставляем ширину карточки в 50% ширины контента + по 15px чтобы между карточками сохранились 30px ширины */
        width: calc(50% - 15px);
    }
}

/* для разрешения с шириной до 760px */
@media (max-width: 760px) {
    .header-title {
        font-size: 32px;
    }

    .header-paragraf {
        font-size: 14px;
    }
}