* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.cover {
    max-width: 1440px;
    margin: 0 auto;
}

.cover-image {
    background-image: url(../img/sell-your-car/main.jpg);
    background-repeat: no-repeat;
    min-height: 688px;
}

.center {
    margin: 0 auto;
    width: 1060px;
}

.cover-header {
    display: flex;
    align-items: center;
    gap: 241px;
    padding: 35px 0;
}

.header-munu-items {
    display: flex;
    list-style-type: none;
    gap: 35px;

    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.link {
    color: #FFF;
    text-decoration: none;
}

.main-content {
    max-width: 494px;
    margin: 0;
    padding-top: 37px;
}

.main-text {
    color: #130E27;
    font-family: 'Montserrat';
    font-size: 90px;
    font-weight: 700;
    line-height: 82px;
    /* 91.111% */
    letter-spacing: -1.8px;
    min-width: 533px;
    padding-bottom: 50px;
}

.main-text-wite {
    color: #FFF;
}

.main-paragraf {
    color: #FFF;
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.4px;
    padding-bottom: 180px;
}

.red {
    color: #C62314;
}

.service {
    padding-top: 50px;
    padding-bottom: 70px;
}

.service-head {
    color: #130E27;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
}

.service-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
}

.service-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 59px;
    width: 164px;
    text-align: center;
    align-items: center;
}

.service-item-paragraf {
    color: #161616;
    text-align: center;
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.6px;
}

.story {
    display: flex;
    background: #130E27;
    height: 124px;
}

.story-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.story-content-paragraf {
    width: 611px;
}

.story-content-paragraf {
    color: #FFF;
    font-family: PT Serif;
    font-size: 20px;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.4px;
}

.btn {
    padding: 19px 69px;
    border-radius: 5px;
    background: #C62314;

    color: #FFF;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
}

.pricing {
    margin: 0 auto;
    width: 1440px;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.pricing-main {
    color: #130E27;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 70px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 340px;
}

.pricing-head {
    padding-top: 35px;
}

.pricing-main {
    padding-top: 40px;
}

.pricing-paragraf {
    padding-top: 30px;
    width: 197px;

    color: #161616;
    text-align: center;
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.6px;
}

.button {
    margin-top: 40px;
    margin-bottom: 36px;

    border-radius: 5px;
    background: #130E27;
    padding: 12px 81px;

    color: #FFF;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
}

.button-red {
    background: #C62314;
}